/* logo */
.logo {
  margin-top: 6px;
  margin-left: 20px;
  widows: 199px;
  height: 50px;

  @media screen and (min-width: 768px) {
    margin-top: 36px;
    margin-left: 34px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 46px;
    margin-right: 110px;
  }
}
