$primary-text-color: #212121;
$second-text-color: #757575;
$light-text-color: #ffffff;
$accent-color: #2196f3;

body {
  color: $primary-text-color;
  background: #ffffff;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.03em;
}
